# new
absl_py==1.2.0
jax==0.3.16
ml_collections==0.1.0
numpy==1.22.4
pandas==1.4.2
Pillow==9.2.0
requests==2.27.1
six==1.15.0
tensorflow==2.11.0
tensorflow-probability==0.17.0
tensorflow_datasets==4.5.2
tensorflow_gan==2.0.0
tensorflow_hub==0.12.0
tensorflow_io==0.31.0
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
tqdm==4.64.0
nvidia-ml-py3
einops
matplotlib
jaxlib
scikit-learn

# old
# ml-collections==0.1.0
# tensorflow-probability==0.12.2
# tensorflow-gan==2.0.0
# tensorflow_io
# tensorflow_datasets==3.1.0
# tensorflow==2.4.0
# tensorflow-addons==0.12.0
# tensorboard==2.9.0
# absl-py==0.10.0
# torch>=1.7.0
# torchvision
ninja